header{
  background-color: black;
  color:white;
}
nav ul {
  display:flex;
}
li {
  padding: 25px;
   text-decoration:none;
   justify-content: space-evenly;
   align-content:space-between;
}

.solo-container {
  display:flex;
  background-color: blueviolet;
}
.container-4{
  display: flex;
  height: 400px ;
  background-color:aqua ;
}
.container-row{
  display: inline-flex;
  background-color:blue ;
}
h1{
  font-size:50px;
}

img {
  height: auto;
  width: 100%;
}